.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.content-1 {
  height: 100vh;
  background-image: url("./colors-design-flatlay-983828.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  color: white;
  font-size: 25px;
  position: relative;
  z-index: 4;
}
.content-2 {
  height: 100vh;
  background-image: url("./business-computer-internet-60626.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  color: white;
  font-size: 25px;
  position: relative;
  z-index: 4;
}
.content-3 {
  height: 100vh;
  background-image: url("./architect-architecture-blueprint-271667.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  color: white;
  font-size: 25px;
  position: relative;
  z-index: 4;
}
.text {
  padding-top: 50px;
  color: white;
  width: 70vw;
  margin-left: 15vw;
}
.opaqueFade {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3)
  );
  width: 100vw;
  height: 100vh;
}

#image {
  height: 100vh;
  width: 100vw;
  background-image: url("./charts-cup-of-coffee-desk-1345089.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#opaque-screen {
  background-color: rgba(66, 66, 66, 0.4);
  height: 100vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  display: flex;
}
#introduction {
  color: rgb(224, 221, 221);
  width: 40vw;
  /* padding-left: 40vw; */
  padding-top: 35vh;
  font-size: 45px;
  /* position: fixed; */
  /* text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black; */
}

.nav-bar-1 {
  background-color: #282c34;
  height: 50px;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0px 10px 10px 10px #282c34;
  position: sticky;
  top: 0;
  z-index: 5;
}
.nav-bar-2 {
  background-color: #4e9488;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0px 10px 10px 10px #4e9488;
  position: sticky;
  top: 50px;
  z-index: 5;
}
.nav-bar-3 {
  background-color: #944e77;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0px 10px 10px 10px #944e77;
  position: sticky;
  top: 100px;
  z-index: 5;
}

.moveButton {
  margin: 0 20px 0 20px;
}
.movingPiece {
  margin: 40px 0 30px 0;
}
.movingPiece-left {
  margin: 40px 0 30px 0;
  padding-right: 200px;
}
.movingPiece-right {
  margin: 40px 0 30px 0;
  padding-left: 200px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
